html, body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
}

#home .nav a {
    color:white;
}

.nav {
    margin: 0;
    padding: 0;
}

.navbar-custom {
    color: white;
    margin-top: 2em;
    background-color: transparent;
    border-color: transparent;
    float: right;
    height: 70px;
}

.nav li {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 18px;
    display: inline-block;
    float: right;
    margin-right: 10px;
    text-transform: uppercase;
    padding-top: 10px;
}

.nav a {
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background 0.5s;
    margin-right: 35px;
}

.nav a:hover {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    
}

.navbar.onscroll{
    background-color: #fff;
}

.navbar.onscroll a{
    color: #000 !important;
}

.navbar.onscroll a:hover{
    border-color: black;
}

.jumbotron {
    height: 600px;
    background-image: url('../images/welcome_back.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0px;
}

.span12 {
    text-align: center
}

#main {
    height: 20px;
}

.main {
    margin-top: 7em;
    position: relative;
}

.main h1 {
    position: relative;
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    padding 0 20px 0 10px;
    
}

.main a {
    display: inline-block;
    margin-top: 2.5em;
    height: 80px;
    width: 280px;
    background-color: white;
    color: #F57A82;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 1.3px;
    padding: 20px 10px 0px 10px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background 0.5s;
}

.main a:hover {
    height: 80px;
    width: 280px;
    background-color: transparent;
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 1.3px;
    padding: 20px 10px 0px 10px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    
}

.services {
    height:700px;
    color: white;
    background-color: #5db5a4;
    margin: auto;
}

.services line {
    background-color: white;
}

.services h1 {
    padding-top: 2em;
    text-transform: uppercase;
    font-family: 'Oxygen';
    font-weight: 100;
    text-align: center;
    letter-spacing: 3px;
}

.services h3 {
    font-family: 'Raleway';
    text-align: center;
    font-size: 1.5em;
    word-spacing: 2px;
}

.services .icons {
    text-align: center;
    margin-top: 70px;
}

.services .text {
    text-align: center;
    margin-top
}

.services .servimg {
    margin-bottom: 2em;

}

.services h2 {
    font-family: 'Oxygen';
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.5em;
    
}

.services p {
    margin-top: 1em;
    font-family: 'Raleway';
    letter-spacing: 1px;
}

.team {
    height:800px;
    margin: auto;
    background-color: #eefafb;
}

.team h1 {
    padding-top: 2em;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    font-weight: 100;
    text-align: center;
    letter-spacing: 3px;
}

.team h3 {
    font-family: 'Raleway';
    text-align: center;
    font-size: 1.5em;
    word-spacing: 2px;
}

.team .circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
    margin-top: 3em;
}

.team h2 {
    font-family: 'Oxygen', serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 1.5em;
}

.team h4 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.85em;
}

.team p {
    margin-top: 1em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-size: 1.1em;
}

.team .icons {
    margin-top: 1em;
    text-align: center;
    letter-spacing: 20px;
}

.skills {
    height:700px;
    margin: auto;
    text-align: center;
}

.skills h1 {
    padding-top: 2em;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    font-weight: 100;
    text-align: center;
    letter-spacing: 3px;
}

.skills h2 {
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 1.3px;
}

.skills h3 {
    font-family: 'Raleway';
    text-align: center;
    font-size: 1.5em;
    word-spacing: 2px;
}

.stat {
    font-family: 'Raleway';
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.skills .row {
    text-align: center;
}

.portfolio {
    background-color: #000000;
    height: 350px;
    margin: auto;
    text-align: center;
}

.portfolio h1 {
    color: white;
    padding-top: 2em;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    font-weight: 100;
    text-align: center;
    letter-spacing: 3px;
}

.portfolio h3 {
    color: white;
    font-family: 'Raleway';
    text-align: center;
    font-size: 1.5em;
    word-spacing: 2px;
}

.portfolio ul {
    margin-top: 4em;
}

.portfolio li {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 60px;
}

.portfolio a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px 20px;
    
}

.portfolio a:hover {
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #333333;
}

.portfolio a:active {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
}

#line {
    padding: 0;
    background-color: #4d4d4d
}

.works {
    margin: 0;
    padding: 0;
}

.works img {
    height: 600px;
    width: 600px;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    page-break-inside: avoid;
    margin-top: 5px;
}

#work1 .text {
    position: relative;
    bottom: 10em;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    visibility: hidden;
    text-align: center;
    vertical-align: middle;
}

#work1:hover .text {
    visibility: visible;
}

#work1:hover .image {
    -webkit-filter: blur(7px) brightness(0.5);
    -moz-filter: blur(7px) brightness(0.5);
    -o-filter: blur(7px) brightness(0.5);
    -ms-filter: blur(7px) brightness(0.5);
    filter: blur(7px) brightness(0.5);
}

#work1:hover .text {
    visibility: visible;
}

#work2 .text {
    position: relative;
    bottom: 8em;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    visibility: hidden;
    text-align: center;
    vertical-align: middle;
}

#work2:hover .text {
    visibility: visible;
}

#work2:hover .image {
    -webkit-filter: blur(7px) brightness(0.5);
    -moz-filter: blur(7px) brightness(0.5);
    -o-filter: blur(7px) brightness(0.5);
    -ms-filter: blur(7px) brightness(0.5);
    filter: blur(7px) brightness(0.5);
}

#work2:hover .text {
    visibility: visible;
}

#work3 .text {
    position: relative;
    bottom: 8em;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    visibility: hidden;
    text-align: center;
    vertical-align: middle;
}

#work3:hover .text {
    visibility: visible;
}

#work3:hover .image {
    -webkit-filter: blur(7px) brightness(0.5);
    -moz-filter: blur(7px) brightness(0.5);
    -o-filter: blur(7px) brightness(0.5);
    -ms-filter: blur(7px) brightness(0.5);
    filter: blur(7px) brightness(0.5);
}

#work3:hover .text {
    visibility: visible;
}

#work4 .text {
    position: relative;
    bottom: 10em;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    visibility: hidden;
    text-align: center;
    vertical-align: middle;
}

#work4:hover .text {
    visibility: visible;
}

#work4:hover .image {
    -webkit-filter: blur(7px) brightness(0.5);
    -moz-filter: blur(7px) brightness(0.5);
    -o-filter: blur(7px) brightness(0.5);
    -ms-filter: blur(7px) brightness(0.5);
    filter: blur(7px) brightness(0.5);
}

#work4:hover .text {
    visibility: visible;
}

#work5 .text {
    position: relative;
    bottom: 8em;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    visibility: hidden;
    text-align: center;
    vertical-align: middle;
}

#work5:hover .text {
    visibility: visible;
}

#work5:hover .image {
    -webkit-filter: blur(7px) brightness(0.5);
    -moz-filter: blur(7px) brightness(0.5);
    -o-filter: blur(7px) brightness(0.5);
    -ms-filter: blur(7px) brightness(0.5);
    filter: blur(7px) brightness(0.5);
}

#work5:hover .text {
    visibility: visible;
}

#work6 .text {
    position: relative;
    bottom: 8em;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    visibility: hidden;
    text-align: center;
    vertical-align: middle;
}

#work6:hover .text {
    visibility: visible;
}

#work6:hover .image {
    -webkit-filter: blur(7px) brightness(0.5);
    -moz-filter: blur(7px) brightness(0.5);
    -o-filter: blur(7px) brightness(0.5);
    -ms-filter: blur(7px) brightness(0.5);
    filter: blur(7px) brightness(0.5);
}

#work6:hover .text {
    visibility: visible;
}

.testimon {
    height: 750px;
    margin: 0px;
    padding: 0px;
    background-color: #ed5276;
    text-align: center;
    color: white;
}

.testimon h1 {
    padding-top: 2em;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    font-weight: 100;
    letter-spacing: 4px;
    text-align: center;
}


.testimon h3 {
    font-family: 'Raleway';
    font-size: 1.5em;
    word-spacing: 2px;
    text-align: center;
}

.testimon .circular {
    width: 100px;
	height: 100px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
    margin-top: 3em;
} 

.testimon h2 {
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    text-align: left;
}

.testimon h4 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 1.5px;
    text-align: left;
}

.testimon p {
    margin-top: 3em;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    margin-right: 2em;
}

.testimon #donald {
    margin-top: 2em;
}

.touch {
    height: 800px;
    margin: auto;
    text-align: center;
    
}

.touch h1 {
    padding-top: 2em;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    font-weight: 100;
    text-align: center;
    letter-spacing: 3px; 
    margin-top: 2em;
}

.touch h4 {
    font-family: 'Raleway',sans-serif;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    word-spacing: 2px;
    padding: 0px 50px;
    margin-bottom: 4em;
    margin-top: 1em;
}

.touch .row {
    color: #a8a8a8;    
}

.touch .form-group {
    font-family: 'Raleway', sans-serif;
}

.touch #name, .touch #email {
    height: 55px;
    font-size: 1.2em;
    letter-spacing: 1.5px;
}

.touch #message {
    height: 200px;
    font-size: 1.2em;
    letter-spacing: 1.5px;
    margin-bottom: 4em;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.touch #name:focus, .touch #email:focus {
    box-shadow: none;
    border-color: #383838; 
}

.touch #message:focus {
    box-shadow: none;
    border-color: #383838; 
}

.touch input, .touch textarea {
    color:black;
}

/* placeholder color */

#name:focus::-webkit-input-placeholder,
#email:focus::-webkit-input-placeholder,
#message:focus::-webkit-input-placeholder{
    color:black;
}

#name:focus::-moz-placeholder,
#email:focus::-moz-placeholder,
#message:focus::-moz-placeholder{
    color:black;

}

#name:focus:-moz-placeholder,
#email:focus:-moz-placeholder,
#message:focus:-moz-placeholder{
    color:black;

}

#name:focus:-ms-input-placeholder,
#email:focus:-ms-input-placeholder,
#message:focus:-ms-input-placeholder{
    color:black;

}

/* Get in touch */

.touch .btn {
    height: 70px;
    width: 290px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    color: white;
    background-color: #ed5276;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.touch .btn:hover {
    color: #ed5276;
    background-color: transparent;
    border: 1px solid #ed5276;
    transition: background 0.5s;
}

/* footer */

footer {
    text-align: center;
    margin: 0;
    width:100%;
    height: 212px;   
    background-color: #e7e7e7;
}

footer h5 {
    padding-top: 3em;
    font-family: 'Raleway';
    font-size: 1em;
    color: #b2b2b2;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

footer img {
    display: inline-block;
    margin-top: 2em;
    margin-right: 14px;
    margin-left: 14px;
}